.sign_up
	background-color #5A61ED
	height 480px
	h1
		position relative
		font-family PT Sans
		font-size 49px
		line-height 63px
		letter-spacing 0.5px
		color #FFFFFF
		transform rotate(-90deg)
		height 63px
		left 35.3%
		right 65.34%
		top calc(50% - 63px/2 + 120.5px)
.col-md-10
	padding-left 20px
	h2
		margin-top 38.52px
		height 26px
		left 0%
		right 77.32%
		top calc(50% - 26px/2 - 191.5px)
		font-family: Work Sans;
		font-style: normal;
		font-weight: 900;
		font-size: 31px;
		line-height: 26px;
		/* identical to box height */
		letter-spacing: -0.46px;
		color: #111111;
	p
		font-family: Work Sans;
		font-style: normal;
		font-weight: 300;
		font-size: 20px;
		line-height: 16px;

		color: #111111;
	label
		text-transform: capitalize;
		font-family: Work Sans;
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 14px;
		/* identical to box height */
		color: #7C7C7C;
	input
		font-family: Work Sans;
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 16px;
		color: #111111;
		border-top 0
		border-bottom 1px solid #F2F2F2
		border-left 0
		border-right 0
	select
		background: url(../../resources/select.jpg) no-repeat 96% 50%;
		font-family: Work Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: #111111;
		border-top 0
		border-bottom 1px solid #F2F2F2
		border-left 0
		border-right 0
	#date_d
		font-weight 700
	#date_m
		font-weight 700
	#date_y
		font-weight 700
	.custom-radio

		&:nth-child(2n)
			margin-left 20px
		.custom-control-label
			padding 5px
			font-family Work Sans
			font-style normal
			font-weight normal
			font-size 14px
			line-height 16px
			color #111111
			font-weight 700



	.btn-primary
		background-color #5A61ED
		position absolute
		right 3%


@media (max-width 640px)
	.sign_up
		height 150px
		h1
			transform rotate(0)
			left 35%
			right 0
			top 30%




